* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.saveIcon {
    position: absolute;
    cursor: pointer;
}

.deleteIcon {
    position: absolute;
    cursor: pointer;
}

.saveIcon:hover {
    transform: scale(1.1);
}

.makeStyles-card-130 {
    transition: .2s ease;

}

.friend {
    cursor: pointer;
}

.friend:hover {
    text-decoration: underline;
}

.articleCard {
    position: fixed;
    width: 40%;
    padding: 1rem;
    margin: 1rem;


}

.cardFilter {
    width: 30rem;
    padding: 1rem;
    margin: 1rem;
    position: fixed;
}

.profileImage {
    width: 7rem;
    height: 7rem;
    border-radius: 4rem;
}

.signupFields {
    margin: 0rem 1rem;
}

.resetPasswordForm {
    width: 40vw;
    max-width: 500px;
}

@media only screen and (max-width: 600px) {
    .articleCard {
        position: relative;
        width: 93%;
    }

    .profileWrapper {
        flex-direction: column-reverse;
    }

    .resetPasswordForm {
        width: 100%;
        max-width: 500px;
    }

    .cardFilter {
        position: relative;
        width: 93%;
    }

    .profileImage {
        width: 5rem;
        height: 5rem;
    }
}



/* .articleItem {
    transition: 2s ease;

}

.articleItem:hover {
    border: 1.5px solid #3f51b5;
} */